# Workspace ID
DBT_FABRIC_SPARK_WORKSPACE_ID=
# Lakehouse or artifact id
DBT_FABRIC_SPARK_LAKEHOUSE_ID=
# lakehouse name
DBT_FABRIC_SPARK_LAKEHOUSE_NAME=
# Application Registration ID
DBT_FABRIC_SPARK_CLIENT_ID=
# Application Registration Secret
DBT_FABRIC_SPARK_CLIENT_SECRET=
# Tenant Id
DBT_FABRIC_SPARK_TENANT_ID=

# users for testing 'grants' functionality
DBT_TEST_USER_1=
DBT_TEST_USER_2=
DBT_TEST_USER_3=
